body{
  font-family: 'Arial'
}

.column{
  width: 33%;
  float: left;
  padding: 5%;
  box-sizing: border-box;
}

.img-responsive{
  width: 100%;
  }

#header{
  background-color: #00FF30;
  height: 20vh;

}

#text-header{
  margin:auto;
  padding: 7vh;
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-size: 1.5em;

}
